$font-family-sans: 'Noto Sans JP', sans-serif;
$font-family-serif: 'Noto Serif JP', serif;
$font-family-heading: 'Noto Serif JP', serif;
$familyB: "Garamond" ,"游明朝", "YuMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;